<ul>
 
 <li class="slide">
    <div class="top-wrapper">
        <div class="maintitle-wrapper">
            <h4>メインタイトル(mini)です</h4>
        </div>
        <div class="subtitle-wrapper">
            <h3>サブタイトルです</h3>
        </div>
        <div class="top-comment">
            <p>ここに解説を書いていきます</p>
        </div>
        <div class="bottom-comment">
            <p>画像を張ったりします</p>
        </div>
        <div class="page-controller">
            <div class="controller-prev"></div>
            <div class="controller-next"></div>
        </div>
    </div>
  <div class="main-wrapper">
  </div>
 </li>
 

</ul>