<div class="reveal">
	<div class="slides">
		<section>
			<div class="slide-chaptop">
				<div class="chaptop-title">
					<h4>レベリング</h4>
				</div>
				<div class="talk">
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
								<span>タイムアタックをやってみようと思ったけどまず何をすればいいの？</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
								<span>最初は何もわからないダルマ～<br>
									まずは簡単な<span class="emphasis">レベリング</span>から始めてみるダルマ～！</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
								<span>レベリングかー。通常のプレイでもどうくつマムルはよく倒すよ！</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
								<span>どうくつマムルはレベリングの鉄板ダルマ～！でもそれだけじゃ<span class="emphasis">10Fあたりから厳しくなる</span>ダルマ～。<br>
									これから経験値の高いモンスターの作り方から狩り方まで伝授するダルマ～！</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h4>経験値の多い<br>
							モンスター</h4>
					</div>
					<div class="desc-description">
						<p>
							<span>自然に出現するモンスターを狩ってレベリングをしていたら<br>
								それこそ通常プレイになってしまいます。<br>
								なので、敵のレベルを上げたモンスターを狩ります。<br>
								<span class="emphasis">1F-3Fのどうくつマムル、5F-9Fのイッテツ戦車、8Fのしびれサソリ、<br>
									11F-13Fのガゼル教皇</span>が、経験値の多い狩りモンスター候補になります。<br>
								どうくつマムルだけではレベルが物足りないので、もう1種類狩れると理想です。<br>
								<span class="emphasis">レベル15あたり</span>まで上げると、フロア探索がかなり楽になります。<br>
								それぞれのモンスターの作り方や狩り方を解説していきます。</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/1.png">
					<img src="/images/1.png">
					<img src="/images/1.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>どうくつマムル</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>みなさんもよく狩ったことがあると思います。狩ると9レベルまで上がります。<br>
								一匹狩れれば9Fまではサクサク巡回できます。<br>
								しあわせの杖やのりうつりの杖など、確実に作れる手段は割愛します。<br>
								新しい発見があるかもしれないのでチェックしておきましょう。</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>作り方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【あなぐらマムルにタベラレルーを倒させる】<br>
								運要素もありますが、1Fに出現するモンスターはマムル、あなぐらマムル、チンタラ、タベラレルーの4種類で、
								タベラレルー以外は同じ確率で出現します。さらに<span
									class="emphasis">チンタラのみフロア出現時寝ていることがある</span>ため、作れる確率はそれなりに高いです。
								運に任せるのも良いですが、行き止まり部屋に誘導し、そこであなぐらマムルを待ったほうが確実です。<br>
								【吹き飛ばしの土偶】<br>
								あなぐらマムルと別の敵に挟まれた状態で、殴られた時の吹き飛ばしダメージで無理やりあなぐらマムルに敵を倒させ、どうくつマムルを作る方法です。
								あなぐらマムルが部屋に来るまで待機し、来たら土偶の周りをぐるぐる回り、もう1体敵が出てくるまで待ちます。敵が来たら、シレンが挟まれる形に誘導し、どうくつマムルを作ります。
								こちらは慣れるまで時間がかかりますが、慣れればほぼ確実に作ることができます。
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>倒し方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【毒矢を当てる】<br>
								　レアケースですが、うまく活用すればどうくつを無力化することができます。<br>
								　毒矢のダメージ数が3~6と、確率的には五分五分です。<br>
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>イッテツ戦車</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>5~9Fに出現する、ボウヤー又はコドモ戦車のレベルをあげて作ります。<br>
								経験値は2300と、15レベルあたりまであがります。<br>
								しあわせの杖やのりうつりの杖がある場合は、8Fでしびれサソリを狩ったほうが倍以上の経験値が入るので、無理にイッテツ戦車を狩る必要はありません。
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Ittetsu.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>作り方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【ボウヤーとシレンの間に敵を挟み、ボウヤーに倒させる】<br>
								上手にやれば、アイテムを使うことなく作ることができます。<br>
								この方法はシレンのHPを削られることが多いので、残りHPに注意しましょう。<br>
								階層が低ければ低いほど20よりHPが低い敵が多いので作りやすいですが、
								その分シレンのHPも低いので、リスクを考えて作りましょう。
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>倒し方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【火ばしらの杖】<br>
								距離がある場合は間違いなく倒せます。距離が詰められている状況でも、ふきとばしの杖があれば確実に倒せます。<br>
								【水がめor封印の杖+α】<br>
								　イッテツを封印した後、ギタン投げや火炎草、ドラゴン草などでダメージを稼ぎ倒す方法です。<br>
								　封印されたとはいえ、15前後のダメージを与えてきます。舐めてかかると痛い目を見るので気をつけましょう。<br>
								　ある程度アイテムが識別されつつある状況だと思うので、持っているアイテムを駆使して倒しましょう。
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>ガゼル教皇</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>今まで出てきたモンスターが狩れなかった場合に狩ります。<br>
								経験値は2200でイッテツ戦車よりわずかに少ないですが、何も狩れてない状況なら十分な量です。<br>
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Ittetsu.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>作り方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【のりうつりの杖】<br>
								8Fは大部屋マップが存在するため、場合によっては作ることができません。<br>
								ですが、狩るところまでこの杖1本で持っていけるのでそういう意味では楽です。<br>
								【しあわせの杖】<br>
								こちらは大部屋マップでも作ることができます。<br>
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>倒し方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【のりうつりの杖+α】<br>
								　しびれサソリにのりうつり、他の敵にHPを削ってもらい、トドメをさします。<br>
								　素手でのダメージは2ほどしか通らないので、少々工夫が必要かもしれません。<br>
								　【ギタン投げ】
								　6F~7Fに出現するガマラにあえてギタンを盗ませ、1250G以上をを入手しておくと楽に倒せます。<br>
								保存の壺があれば高額ギタンを持ち運べるので、スムーズに倒せます。<br>
								【火ばしらの杖+ふきとばしの杖】<br>
								　簡単に高ダメージを叩き出すことができるコンボです。<br>
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
	</div>
</div>