<div class="reveal">
	<div class="slides">
		<section>
			<div class="slide-top">
				<!-- Topタイトル -->
				<div class="title">
					<h3>最果てへの道99FTA</h3>
				</div>
				<!-- Top説明 -->
				<div class="top-description">
					<p>
						<span></span>
					</p>
				</div>
				<!-- Topの図 -->
				<div class="top-figure">
					<img src="/images/nataneVillage/Story.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-chaptop">
				<div class="chaptop-title">
					<h4>タイムアタックの世界へようこそ！！</h4>
				</div>
				<div class="talk">
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>最近最果てが楽々打開できるようになってきた！</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>それはいいことである。それはそうとタイムアタックに興味あるダルマ～？</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>タイムアタックってなぁに？</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>タイムアタックとは、なるべく短い時間でクリアを目指す競技であ～る。</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>そんな競技があったんだ！
							でもクリアに8時間もかかるボクにはまだ早いんじゃないかなぁ</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>そんなことないのであ～る。タイムアタックもコツをつかめば誰でもできるダルマ～！</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>難しそうに見えたけどそうだったんだね！ボクもチャレンジしてみよう！！！</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>はじめに</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>現在、最果てへの道タイムアタックで自己ベストを目指す走者は多くいます。<br>
							初心者が彼らのプレイを見た時、「難しそう」「私には無理」といった声が多いです。<br>
							それもそのはずです。まだタイムアタックの世界を知らないのだから。<br>
							ここでは、<span class="emphasis">タイムアタックの基礎・コツ</span>を一から初心者向けに解説します。<br>
							一度タイムアタックに触れてみて、タイムアタックの楽しさ、難しさを体感してみてください。<br>
							<span class="emphasis">最初は誰でも初心者です。</span>うまくいかなくても気を落とさず何度もチャレンジしましょう！</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/1.png">
					<img src="/images/1.png">
					<img src="/images/1.png">
				</div>
			</div>
		</section>
	</div>
</div>