<div class="reveal">
	<div class="slides">
		<section>
			<div class="slide-chaptop">
				<div class="chaptop-title">
					<h4>レベリング</h4>
				</div>
				<div class="talk">
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>タイムアタックをやってみようと思ったけどまず何をすればいいの？</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>最初は何もわからないダルマ～<br>
							まずは簡単な<span class="emphasis">レベリング</span>から始めてみるダルマ～！</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
					<!-- リクの会話 -->
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>レベリングかー。通常のプレイでもどうくつマムルはよく倒すよ！</span>
							</p>
						</div>
					</div>
					<!-- だるまの会話 -->
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>どうくつマムルはレベリングの鉄板ダルマ～！でもそれだけじゃ<span class="emphasis">10Fあたりから厳しくなる</span>ダルマ～。<br>
							これから経験値の高いモンスターの作り方から狩り方まで伝授するダルマ～！</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h4>経験値の多い<br>
						モンスター</h4>
					</div>
					<div class="desc-description">
						<p>
							<span>自然に出現するモンスターを狩ってレベリングをしていたら<br>
							それこそ通常プレイになってしまいます。<br>
							なので、敵のレベルを上げたモンスターを狩ります。<br>
							<span class="emphasis">1F-3Fでどうくつマムル、5F-9Fでイッテツ戦車、8Fでしびれサソリ、<br>
							11F-13Fでガゼル教皇</span>が、経験値の多い狩りモンスター候補になります。<br>
							どうくつマムルだけではレベルが物足りないので、もう1体なにか狩れると理想です。<br>
							<span class="emphasis">レベル20あたり</span>まで上げると、フロア探索がかなり楽になります。<br>
							それぞれのモンスターの作り方や狩り方を解説していきます。</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/1.png">
					<img src="/images/1.png">
					<img src="/images/1.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>どうくつマムル</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>みなさんもよく狩ったことがあると思います。狩ると9レベルまで上がります。<br>
							一匹狩れれば9Fまではサクサク巡回できます。
							ほとんどが見慣れた作り方、倒し方だとは思いますが、新しい発見があるかもしれないのでチェックしておきましょう。</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>作り方</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>【あなぐらマムルにタベラレルーを倒させる】<br>
							これは運要素もありますが、1Fに出現するモンスターはマムル、あなぐらマムル、チンタラ、タベラレルーの4種類で、
							タベラレルー以外は同じ確率で出現します。さらにチンタラのみフロア出現時寝ていることがあるため、確率はそれなりに高いです。
							運に任せるのも良いですが、行き止まり部屋に誘導してそこであなぐらが来るまで待つのが確実です。<br>
							【幸せの杖、のりうつりの杖】<br>
							こちらは確実に作ることができます。<br>
							【吹き飛ばしの土偶】<br>
							あなぐらマムルと別の敵に挟まれた状態で、殴られた時の吹き飛ばしダメージで無理やりあなぐらマムルに敵を倒させ、どうくつマムルを作る方法です。
							あなぐらマムルが部屋に来るまで待機し、来たら土偶の周りをぐるぐる回り、もう1体敵が出てくるまで待ちます。敵が来たら、シレンが挟まれる形に誘導し、どうくつマムルを作ります。
							こちらは慣れるまで時間がかかりますが、慣れればほぼ確実に作ることができます。
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>イッテツ戦車</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>イッテツは固定20ダメージで殺傷能力は高くありません。<br>
							しかし、爆風は腕輪にヒビが入る危険性が極めて高くなります。<br>
							<span class="emphasis">ねだやしが2枚</span>ある状況なら、ねだやすべきモンスターです。<br>
							ねだやしに余裕がないならば<span class="emphasis">ダイレップウ優先</span>でしょう。<br>
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Ittetsu.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>アークドラゴン</h5>
					</div>
					<div class="desc-description">
						<p>
						<span>タイムアタックでアークドラゴンは<span class="emphasis">ほとんどねだやしません。</span><br>
						白紙に余裕があればねだやし候補に入れることもありますが、<br>
						中層では白紙をメッキや仕入れ直しに回したいので、なるべく温存するべきです。<br>
						元々出現率が高いわけでもなく、火を吐かれたら運が悪いと考えるほかありません。<br>
						どうにもならない時の<span class="emphasis">最終手段</span>でねだやしましょう。<br></span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Ittetsu.png">
				</div>
			</div>
		</section>
	</div>
</div>