<div class="reveal">
	<div class="slides">
		<section>
			<div class="slide-top">
				<div class="title">
					<h3>タイトル</h3>
				</div>
				<div class="description">
				<p>
				<span>ここでは解説の初めの説明をします。<span>
				<br>
				<span>こころして聞くように<span>
				<br>
				<span>こころして聞くように<span>
				<br>
				<span>こころして聞くように<span>
				<br>
				<span>こころして聞くように<span>
				<br>
				</p>
				</div>
				<div class="figure">
					<img src="/images/Story.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-captop">
				<div class="title">
					<h5>タイトル</h5>
				</div>
				<div class="talk">
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>またアークドラゴンに燃やされたー！やっぱりアークドラゴンねだやさないとダメだー；；</span>
							</p>
						</div>
					</div>
					<div class="descpeople-right">
							<div class="balloon-right">
							<p>
							<span>アークドラゴンは確かに強敵ダ～ルマ。しかしTAだと<span style="color: rgb(9, 175, 224); font-weight: bold; padding: 0px 1px;">ねだやしの巻物や白紙の巻物</span>も枚数が限られてくるので
何をねだやすべきかしっかり考えるダ～ルマ。</span>
							</p>
							</div>
							<img src="/images/Daruma.png">
					</div>
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>なるほどー。でもやっぱり同じフロアにいるだけで炎を飛んでくるのはおかしいよ！
ねだやし最優先モンスターはアークドラゴンだよね？</span>
							</p>
						</div>
					</div>
					<div class="descpeople-right">
							<div class="balloon-right">
							<p>
							<span>ブブー、残念ダールマ。これから<span style="color: rgb(9, 175, 224); font-weight: bold; padding: 0px 1px;">ねだやし対象モンスター</span>について詳しく説明するからよく聞いておくダールマ！</span>
							</p>
							</div>
							<img src="/images/Daruma.png">
					</div>
				</div>
		</section>
		<section>

		</section>
	</div>
</div>

		<%= content_for :footer do %>
				<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				overview: false,
				mouseWheel: true, 

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					//{ src: '/app/assets/javascripts/revealjs/classList.js', condition: function() { return !document.body.classList; } },
					//{ src: '/app/assets/javascripts/revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					//{ src: '/app/assets/javascripts/revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					//{ src: 'revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					//{ src: 'revealjs/plugin/search/search.js', async: true },
					//{ src: 'revealjs/plugin/zoom-js/zoom.js', async: true },
					//{ src: 'revealjs/plugin/notes/notes.js', async: true }
					//{ src: 'revealjs/plugin/markdown/marked.js' },
					//{ src: 'revealjs/plugin/markdown/markdown.js' }
					//{ src: 'revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});

		</script>
		<% end %>