		<div class="reveal">
			<div class="slides">
				<section data-markdown># asdasda</section>
				<section>
					<section id="fragments">
						<h2>例</h2>
						<p>クラス名にfrangmentとつけたら</p>
						<p><span class="fragment">次々と</span><span class="fragment">出てくる</span></p>
					</section>
					<section>
						
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p>
							<span style="display: inline-block;" class="fragment fade-right">fade-right, </span>
							<span style="display: inline-block;" class="fragment fade-up">up, </span>
							<span style="display: inline-block;" class="fragment fade-down">down, </span>
							<span style="display: inline-block;" class="fragment fade-left">left</span>
						</p>
						<p class="fragment fade-in-then-out">fade-in-then-out</p>
						<p class="fragment fade-in-then-semi-out">fade-in-then-semi-out</p>
						<p>Highlight <span class="fragment highlight-red">red</span> <span class="fragment highlight-blue">blue</span> <span class="fragment highlight-green">green</span></p>
					</section>
				</section>
			</div>
		</div>

		<%= content_for :footer do %>
				<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				overview: false,
				mouseWheel: true, 

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					//{ src: '/app/assets/javascripts/revealjs/classList.js', condition: function() { return !document.body.classList; } },
					//{ src: '/app/assets/javascripts/revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					//{ src: '/app/assets/javascripts/revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					//{ src: 'revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					//{ src: 'revealjs/plugin/search/search.js', async: true },
					//{ src: 'revealjs/plugin/zoom-js/zoom.js', async: true },
					//{ src: 'revealjs/plugin/notes/notes.js', async: true }
					//{ src: 'revealjs/plugin/markdown/marked.js' },
					//{ src: 'revealjs/plugin/markdown/markdown.js' }
					//{ src: 'revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});

		</script>
		<% end %>