<div class="reveal">
	<div class="slides">
		<section>
			<div class="slide-chaptop">
				<div class="chaptop-title">
					<h5>タイトル</h5>
				</div>
				<div class="talk">
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>またアークドラゴンに燃やされたー！やっぱりアークドラゴンねだやさないとダメだー；；</span>
							</p>
						</div>
					</div>
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>アークドラゴンは確かに強敵ダ～ルマ。しかしTAだと<span class="emphasis">ねだやしの巻物や白紙の巻物</span>も枚数が限られてくるので
何をねだやすべきかしっかり考えるダ～ルマ。</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
					<div class="descpeople-left">
						<img src="/images/Riku.png">
						<div class="balloon-left">
							<p>
							<span>なるほどー。でもやっぱり同じフロアにいるだけで炎を飛んでくるのはおかしいよ！
ねだやし最優先モンスターはアークドラゴンだよね？</span>
							</p>
						</div>
					</div>
					<div class="descpeople-right">
						<div class="balloon-right">
							<p>
							<span>ブブー、残念ダ～ルマ。これから<span class="emphasis">ねだやし対象モンスター</span>について詳しく説明するからよく聞いておくダ～ルマ！</span>
							</p>
						</div>
						<img src="/images/Daruma.png">
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>ねだやし優先順位</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>ねだやすモンスターの優先順位は、<br>
							<span class="emphasis">ダイレップウ＞イッテツ戦車＞＞＞アークドラゴン</span>です。
							<br>それぞれのモンスターの特徴と理由を述べていきます。</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/1.png">
					<img src="/images/1.png">
					<img src="/images/1.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>DirePoo</h5>
					</div>
					<div class="desc-description">
						<p>
							<span><span class="emphasis">壁抜け3倍速</span>、根絶やさない訳にはいきません。<br>
							通常プレイでもねだやす人は多いのではないでしょうか。<br>
							腕輪ヒビはもちろん、復活が何枚あっても足りません。<br>
							<span class="emphasis">ねだやし最優先対象</span>と言えるでしょう。
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Direpoo.jpg">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>イッテツ戦車</h5>
					</div>
					<div class="desc-description">
						<p>
							<span>イッテツは固定20ダメージで殺傷能力は高くありません。<br>
							しかし、爆風は腕輪にヒビが入る危険性が極めて高くなります。<br>
							<span class="emphasis">ねだやしが2枚</span>ある状況なら、ねだやすべきモンスターです。<br>
							ねだやしに余裕がないならば<span class="emphasis">ダイレップウ優先</span>でしょう。<br>
							</span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Ittetsu.png">
				</div>
			</div>
		</section>
		<section>
			<div class="slide-description">
				<div class="description-header">
					<div class="description-title">
						<h5>アークドラゴン</h5>
					</div>
					<div class="desc-description">
						<p>
						<span>タイムアタックでアークドラゴンは<span class="emphasis">ほとんどねだやしません。</span><br>
						白紙に余裕があればねだやし候補に入れることもありますが、<br>
						中層では白紙をメッキや仕入れ直しに回したいので、なるべく温存するべきです。<br>
						元々出現率が高いわけでもなく、火を吐かれたら運が悪いと考えるほかありません。<br>
						どうにもならない時の<span class="emphasis">最終手段</span>でねだやしましょう。<br></span>
						</p>
					</div>
				</div>
				<div class="desc-free">
					<img src="/images/Ittetsu.png">
				</div>
			</div>
		</section>
	</div>
</div>