<% content_for :title do %>
シレン2放送検索
<% end %>

<% content_for :mosttop do %>
<% end %>

<div class="container">
    <%= render 'result', { niconicoresult:  @result, youtuberesult: @result2} %>
</div>