<% content_for :title do %>
シレン2放送検索
<% end %>

<% content_for :mosttop do %>
<% end %>

<div class="container">
    <div class="card">
        <div class="card-header bg-success text-center">
            <h3 class="card-title float-left text-white">シレン2放送</h3>
        </div>
        <div class="card-body bg-light">
            <div class="card-text">
                <% if @result.count == 0 && @result2.count == 0 %>
                    <h2 style="text-align:center;">放送はありません</h2>
                <% else %>
                    <%= render 'niconico_result', { niconicoresult:  @result} %>
                    <%= render 'youtube_result', { youtuberesult: @result2} %>
                <% end %>
            </div>
        </div>
    </div>
</div>