<div class="row">
    <div class="col-auto mx-auto">
        <div class="card bg-light mt-5">
            <h2 class="card-title float-left pt-3 pl-3 pr-3">セクション<%= @explain.section %><%= @explain.title %>の編集</h2>
            <div class="card-body">
                <div class="card-text">
                    <%= form_with(model: @explain,local: true,url:{action:'preview'}) do |e|%>
                    <input type="submit" value="編集" class="float-right btn btn-primary">
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>