<% content_for :title do %>
    風来のシレン2 タイムアタック番付サイトについて
<% end %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-center">
                    <h3 class="card-title float-left text-white">
                        このサイトについて
                    </h3>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <h3>はじめに</h3>
                        <ul>
                            <li>このサイトはシレン2のタイムアタック番付サイトです。</li>
                            <li>タイムアタックの記録を残すことのできる場が欲しいという気持ちから作成しました。</li>
                            <li>また、初心者の方が気軽にシレン2のタイムアタックに参入していけるようタイムアタックのやり方解説ページも作って行く予定です(鋭意製作中)</li>
                        </ul>
                        <h3>記録について</h3>
                        <ul>
                            <li>このサイトでは気軽にタイムアタックの記録を残す事ができるをモットーとしているため、どなたでもログインなしのゲストとして記録の申請をする事が可能となっています</li>
                            <li>
                                ログインする事で以下のメリットがあります
                                <ul>
                                    <li>出した記録とユーザーの紐付けが行われる</li>
                                    <li>自身の記録を見直す事ができる</li>
                                    <li>申請状況の確認</li>
                                    <li>記録が拒否された時の理由確認</li>
                                    <li>プロフィールの作成ができる</li>
                                    <li>各種配信サイトの登録</li>
                                </ul>
                            </li>
                            <li>現在、ランキングは同じユーザーが何記録でも入ります(ログインなしでの申請であった場合見分けがつかないので)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>