<% content_for :title do %>
    TA解説
<% end %>

<% content_for :mosttop do %>
<div class="container">
    <h1>TimeAttack</h1>
</div>
<% end %>

<div class="container">
<h2>最果てへの道99FTA 初心者講座</h2>
<p>最果てTA初心者の壁　2時間～100分切りを目指す人におすすめ</p>
<p><a href="/ta/chapter1">Chapter1</a></p>
<p><a href="/ta/chapter1">Chapter2</a></p>
<h2>最果てへの道99FTA 中級者講座</h2>
<h2>最果てへの道99FTA 上級者講座</h2>
</div>