<% content_for :title do %>
    TA解説
<% end %>

<% content_for :mosttop do %>
<div class="container">
    <h1>タイムアタック解説</h1>
</div>
<% end %>

<div class="container">
<h2>最果てへの道99FTA 初心者講座</h2>
<p>第1章 <a href="/ta/chapter1">最果て99FTAとは</a></p>
<p>第2章 <a href="/ta/chapter1">レベリングについて</a></p>
<p>第3章 <a href="/ta/chapter1"></a></p>
</div>