    <div class="top-wrapper">
      <div class="container">
        <h1><!--あなたはシレン2を遊びつくしましたか？-->トップ</h1>
        <h2><!--最果てクリアで満足してませんか？-->トップコメント</h2>
        <p><!--TAを始めたいけど敷居が高い...　　スコアアタックやってみたいけどやり方がわからない...-->コメント</p>
        <p><!--そんな方々のためにTAやスコアタについての知識をまとめたサイトです。-->コメント</p>
        <div class="btn-wrapper">
          <a href="#" class="btn discord"><span class="fa fa-discord"></span>Discord</a>
          <a href="#" class="btn twitter"><span class="fa fa-twitter"></span></a>
        </div>
      </div>
    </div>
    <div class="lesson-wrapper">
      <div class="container">
        <div class="lessons">
          <div class="lesson-left">
            <div class="lesson-icon-left">
              <a href="/ta">
                <img class="lesson-icon" src="/green.png">
                <p>タイムアタック</p>
              </a>
            </div>
            <div class="lesson-text">
              <p class="text-contents">とにかく早く降りる競技。基礎さえつかめば誰でも走れます。共に記録を目指しませんか？</p>
            </div>
          </div>
          <div class="lesson-right">
            <div class="lesson-icon-right">
              <a href="/sa">
                <img class="lesson-icon" src="/yellow.png">
                <p>スコアアタック</p>
              </a>
            </div>
            <div class="lesson-text">
              <p class="text-contents">稼ぎのための効率化テクニックなどを活用してスコアの限界を目指してみませんか？</p>
            </div>
          </div>
          <div class="lesson-left">
            <div class="lesson-icon-left">
              <a href="/other">
                <img class="lesson-icon" src="/red.png">
                <p>その他プレイ</p>
              </a>
            </div>
            <div class="lesson-text">
              <p class="text-contents">破壊的素潜りや最果て縛りプレイなどまだまだ楽しみ方はたくさんあります。</p>
            </div>
          </div>
          <div class="lesson-right">
            <div class="lesson-icon-right">
              <a href="/ranking">
                <img class="lesson-icon" src="/blue.png">
                <p>ランキング</p>
              </a>
            </div>
            <div class="lesson-text">
              <p class="text-contents">タイムアタック、スコアタのランキングです。上位を目指してみませんか？</p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <a class="logo" href="#">シレン2</a>
        <p>10万回遊べるRPG</p>
      </div>
    </footer>
  </body>