<div class="container">
    <h1>カウントテスト</h1>
    <button class="btn btn-success" id="minus">-</button>
    <button class="btn btn-warning" id="plus">+</button>
    <h3><span class="odometer" id="counter">0000</span>個</h3>
</div>