<% set_meta_tags title: "シレン2放送検索",description:"シレン2 タイムアタック番付サイトの放送検索ページです！シレン2配信をみんなで応援しましょう！" %>

<% content_for :mosttop do %>
<% end %>

<div class="container">
    <div class="card">
        <div class="card-header bg-success text-center">
            <h3 class="card-title float-left text-white">シレン2放送</h3>
        </div>
        <div class="card-body bg-light">
            <div class="card-text">
                <% if @result != nil  %>
                    <% @result.each do |data| %>
                        <%= render 'niconico_result', { niconicoresult: data} %>
                    <% end %>
                <% end %>
                <% if @result3 != nil  %>
                    <% @result3.each do |data| %>
                        <%= render 'twitch_result', { twitchresult: data} %>
                    <% end %>
                <% end %>
                <% if @result2 != nil  %>
                    <% counter = 0 %>
                    <% @result2.each do |data| %>
                        <% if data["snippet"]["title"].tr("２", "2").include?("シレン2")%>
                            <%= render 'youtube_result', { youtuberesult:data } %>
                            <% counter = counter + 1 %>
                        <% end %>
                    <% end %>
                    <% if counter == 0 && @result.count == 0 && @result3.count == 0 %>
                        <h2 style="text-align:center;">放送はありません</h2>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>