<% content_for :title do %>
    記録申請について
<% end %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-center">
                    <h3 class="card-title float-left text-white">
                        記録申請について
                    </h3>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <ul>
                            <li>
                                5つのTAの記録の申請が可能です。
                                <ul>
                                    <li>最果てへの道99FTA</li>
                                    <li>カラクロTA</li>
                                    <li>鬼ヶ島ありありTA</li>
                                    <li>ストーリーTA</li>
                                    <li>女王グモ捕獲TA</li>
                                </ul>
                            </li>
                            <li>各TAのレギュレーションは<a href="https://ch.nicovideo.jp/r_shiren2/blomaga/ar1803284">こちら</a>を参照してください</li>
                            <li>記録申請には<span style="color:red;">画像</span>もしくは<span style="color:red;">動画</span>が必要です</li>
                            <li>記録申請後、運営で申請許可を行います。その後、記録が公開されます。</li>
                            <li>申請が拒否された場合は再度申請をお願いします。</li>
                            <li>申請状況はマイページにて確認できます。</li>
                            <li>
                                申請拒否は以下の記録が申請された場合に行われます
                                <ul>
                                    <li>申請記録のタイムと動画もしくは画像の時間に差異がある時</li>
                                    <li>不正行為を確認した時</li>
                                    <li>乱数調整等の本来のレギュレーションとは違う記録であると判別した時</li>
                                    <li>シーズン期間内ではなく過去の記録であった時</li>
                                    <li>プレイヤー名が不適切であると判別されたとき</li>
                                </ul>
                            </li>
                            <li>
                                シーズンごとに記録をまとめます。
                                <ul>
                                    <li>春季:4月〜6月</li>
                                    <li>夏季:7月〜9月</li>
                                    <li>秋季:10月〜12月</li>
                                    <li>冬季:1月〜3月</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>