<% if ranks.offset_value.nil? %>
<% @num = 0 %>
<%else%>
<% @num = ranks.offset_value %>
<%end%>
<% ranks.each do |rank| %>
<% @num = @num + 1 %>
<div class="border border-dark">
    <div class="row m-0">
        <div class="col-3 <%= RankColor(@num) %> border-bottom d-flex align-items-center">
            <p class="h6 mx-auto">
                <%= @num %>位
            </p>
        </div>
        <div class="col-9 border-bottom d-flex align-items-center">
            <p class="h5 p-3 mx-auto"><%= GetResultTime(rank.result) %></p>
            <div class="float-right d-flex align-items-center">
            </div>
        </div>
        <div class="col-12 d-flex align-items-center">
            <p class="p-3 mx-auto">
                <%= rank.created_at.year.to_s + "年" + rank.created_at.month.to_s + "月" + rank.created_at.day.to_s + "日" %>
            </p>
        </div>
        <div class="col-6 d-flex align-items-center mx-auto">
            <button type="button" class="btn btn-secondary rounded-pill mb-3 mx-auto">画像</button>
        </div>
        <div class="col-6 d-flex align-items-center mx-auto">
            <button type="button" class="btn btn-secondary rounded-pill mb-3 mx-auto">動画</button>
        </div>
    </div>
</div>
<% end %>