* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  }

  main{
    margin-top: 100px;
    padding-bottom: 160px;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    line-height: 65px;
    padding: 0 25px;
    color:white;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* menu-iconのCSSを貼り付けてください */
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* displayをnoneに指定してください */
    display:none;
  }

/* line 1429, ../sass/common.scss */
.amanoCity {
  height: 98px;
  background-repeat: repeat-x;
  background-position: center 12px;
  position: relative;
}

/* line 1453, ../sass/common.scss */
.amanoCity .fromL div{
  display: none;
  left: 0;
  overflow: hidden;
}
.amanoCity .shirenwalk {
  position: absolute;
  top: 57px;
  width: 160px;
  height: 720px;
  background-image: url("/images/shiren_Walk.png");
  background-repeat: repeat-x;
  background-position: 160px top;
}

  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(85, 85, 85);
  }