* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  background-image: url("/images/headfoot/background_image.png");
  background-repeat: repeat;
}

main {
  margin-top: 94px;
  padding-bottom: 160px;
}

a {
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 30;

  .logo
  {
    height: auto;
    width:120px;
  }

  .header-right {
    float: right;
    margin-right: -25px;

    a {
      line-height: 65px;
      padding: 0 25px;
      color: white;
      display: block;
      float: left;
      transition: all 0.5s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

/* menu-iconのCSSを貼り付けてください */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* displayをnoneに指定してください */
  display: none;
}

//ナタネ村
.nataneVillage {
  height: 180px;
  position: relative;
  //background-image: url("/images/nataneVillage/natane_back.png");
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  //ダンジョンの画像を描画
  .nataneDungeon {
    img {
      width: 15vw;
      position: absolute;
      text-align: center;
    }

    .fullmoon {
      left: 10%;
      bottom: 90px;
      width: 5vw !important;
      max-width: 30px;
      z-index: 5;
    }

    .onigashima {
      left: 10%;
      bottom: 70px;
      max-width: 128px;
    }

    .story {
      left: 29%;
      bottom: 60px;
      max-width: 128px;
    }

    .mumyu {
      left: 47%;
      bottom: 43px;
      max-width: 128px;
    }

    .well {
      max-width: 50px !important;
      left: 69%;
      bottom: 56px;
    }

    .well2 {
      max-width: 80px !important;
      left: 63%;
      bottom: 43px;
    }

    .shrine {
      left: 75%;
      bottom: 32px;
      max-width: 150px !important;
      z-index: 3;
    }

    .shrine2 {
      left: 82%;
      bottom: 70px;
      max-width: 128px;
    }

    .road {
      width: 100% !important;
      height: 25%;
      top: 115px;
      z-index: 0;
    }
  }

  //右方向に動く
  .fromL {
    div {
      left: 0;
      overflow: hidden;
    }

    .shirenwalk {
      position: absolute;
      top: 116px;
      width: 21px;
      height: 17px;
      background-image: url("/images/nataneVillage/shiren_Walk.png");
      background-position: 21px top;
      z-index: 1;
    }

    .mamlwalk {
      position: absolute;
      top: 123px;
      width: 12px;
      height: 12px;
      background-image: url("/images/nataneVillage/Maml_Walk.png");
      background-position: 12px top;
      z-index: 1;
    }

    .cloud {
      background-image: url("/images/nataneVillage/cloud.png");
      width: 118px;
      height: 89px;
      position: absolute;
      z-index: 20;
    }
  }

  //左方向に動く
  .fromR {
    div {
      left: 0;
      overflow: hidden;
    }

    .mamlwalk {
      position: absolute;
      top: 129px;
      width: 12px;
      height: 12px;
      background-image: url("/images/nataneVillage/Maml_WalkR.png");
      background-position: 12px top;
    }
  }
}

//フッター
footer {
  width: 100%;
  height: auto;
  padding: 30px;
  z-index: 30;
  .footer-left{
    vertical-align: middle;
    p {
      color: #b3aeb5;
      font-size: 12px;
    }
    .logo
    {
      padding-top:50px;
      width: 70%;
      height:auto;
    }
  }
  .footer-item{
    vertical-align: top;
    color: #FFFFFF;
    ul{
      list-style: none;
      li{
        font-size: 12px;
        a {
          padding: 0 25px;
          color: #b3aeb5;
        }
      }
    }
  }
}

.contents-area{
  width:100%;
  height:100px;
}