* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background-color: #f1eee7;
  }

  main{
    margin-top: 100px;
    padding-bottom: 160px;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1920px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    line-height: 65px;
    padding: 0 25px;
  }

.logo path{
  z-index:15;
}
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* menu-iconのCSSを貼り付けてください */
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* displayをnoneに指定してください */
    display:none;
  }

/* line 1429, ../sass/common.scss */
.nataneVillage {
  height: 150px;
  position: relative;
}

.nataneDungeon img{
  width:128px;
  position: absolute;
  text-align:center;

}

.onigashima{
  left:10%;
  top:27px;
}

.story{
  left:29%;
  top:27px;
}

.mumyu{
  left:47%;
  top:37px;
}

.well{
  left:63%;
  top:65px;
}

.shrine{
  left:78%;
  top:40px;
}
.shrine2{
  left:82%;
  top:15px;
}

.nataneVillage hr{
  border:none;
  top:90px;
  height:3px;
  width:100%;
  background-color: black;
  position: absolute;
}

/* line 1453, ../sass/common.scss */
.nataneVillage .fromL div{
  display: none;
  left: 0;
  overflow: hidden;
}

.nataneVillage .fromR div{
  display: none;
  left: 0;
  overflow: hidden;
}

.nataneVillage .shirenwalk {
  position: absolute;
  top: 79px;
  width: 21px;
  height: 17px;
  background-image: url("/images/shiren_Walk.png");
  background-position: 21px top;
}
.fromL .mamlwalk {
  position: absolute;
  top: 83px;
  width: 12px;
  height: 12px;
  background-image: url("/images/Maml_Walk.png");
  background-position: 12px top;
}
.fromR .mamlwalk{
  position: absolute;
  top: 83px;
  width: 12px;
  height: 12px;
  background-image: url("/images/Maml_WalkR.png");
  background-position: 12px top;
}

.cloud{
  background-image: url("/images/cloud.png");
  width: 118px;
  height: 89px;
  position: absolute;
}

  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(85, 85, 85);
    position: absolute;
    position: fixed;
    bottom: 0;
  }