// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.searchresult {
  width: 50%;
}

.liveicon {
  width: 50px;
  height: auto;
}

.title {
  padding-left: 40px;
  text-align: center;
}

.niconicoicon {
  width: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.youtubeicon {
  color: red;
  padding-right: 20px;
  margin-left: 20px;
}