// Place all the styles related to the ta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

$balloon-color: #f0e68c;

//吹き出しのテキスト
@mixin balloonText {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 40%;
}

//吹き出しの画像
@mixin balloonIcon {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  border: 0px none !important;
  background: rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

//吹き出しのフォーマット
@mixin balloonFormat {
  display: inline-block;
  background-color: $balloon-color;
  position: relative;
  padding: 20px;
  margin: 1% 3%;
  text-align: center;
  width: 70%;
  border-radius: 10px;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 20px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

//強調表示
.emphasis {
  color: rgb(9, 175, 224);
  font-weight: bold;
  padding: 0px 1px;
}

//表紙スライドのCSS
.slide-top {
  .title {
    height: 20%;
  }

  .top-description {
    height: 30%;
  }

  .top-figure {
    height: 50%;
  }

  .top-description p {
    font-size: 47.65%;
    margin-top: 0;
  }
}

//表紙スライドのCSS
.slide-chaptop {
  //左向きの吹き出し
  .descpeople-left {
    img {
      @include balloonIcon;
    }
    .balloon-left {
      @include balloonFormat;
      &::before {
        left: -15px;
        border-right: 15px solid $balloon-color;
      }
      p {
        @include balloonText;
      }
    }
  }

  //右向きの吹き出し
  .descpeople-right {
    img {
      @include balloonIcon;
    }
    .balloon-right {
      @include balloonFormat;
      &::before {
        right: -15px;
        border-left: 15px solid $balloon-color;
      }
      p {
        @include balloonText;
      }
    }
  }
}

//解説のページ
.slide-description {
  //解説の上部分
  .description-header {
    display: block;
    height: 40% !important;
    width: 100% !important;
    //左上のタイトル
    .description-title {
      display: inline-block;
      margin-right: 5%;
      vertical-align: top;
    }
    //右上の解説
    .desc-description {
      display: inline-block;
      text-align: start;
      width: 60%;
      font-size: 18px;
    }
  }
  //下の自由記述
  .desc-free {
    display: block !important;
    height: 60% !important;

    img {
      display: inline-block;
    }
  }
}
