// Place all the styles related to the ta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

.slide-top .title{
  height: 20%;
}

.slide-top .top-description{
  height:30%;
}

.slide-top .top-figure{
  height:50%;
}

.slide-top .top-description p{
    font-size: 47.65% ;
    margin-top: 0;
}

.emphasis{
  color: rgb(9, 175, 224);
  font-weight: bold;
  padding: 0px 1px;
}

.talk{
    display: block;
}

.balloon-left{
    display: inline-block;
}

.balloon-right{
    display: inline-block;
}

.descpeople-left .balloon-left{
    background-color: white;
    position: relative;
    padding: 20px;
    margin:1% 3%;
    text-align: center;
    width:70%;
    border-radius: 10px;
}

.descpeople-left .balloon-left:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.descpeople-left .balloon-left p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 40% ;
}

.descpeople-right .balloon-right{
    background-color: white;
    position: relative;
    padding: 20px;
    margin:1% 3%;
    text-align: center; 
    width:70%;
    border-radius: 10px;
}

.descpeople-right .balloon-right:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.descpeople-right .balloon-right p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 40% ;
 
}

.descpeople-left img{
width: 50px;
display: inline-block;
vertical-align: middle;
border:0px none !important;
background: rgba(255, 255, 255, 0) !important;
box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

.descpeople-right img{
width: 50px;
display: inline-block;
vertical-align: middle;
border:0px none !important;
background: rgba(255, 255, 255, 0) !important;
box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

.description-header{
  display: block ;
  height:40% !important;
  width:100% !important;
}

.description-header .description-title{
    display: inline-block;
    margin-right:5%;
    vertical-align: top;
}

.description-header .desc-description{
  display: inline-block;
  text-align:start;
  width: 60%;
  font-size: 16px;
}

.desc-free{
  display: block !important;
  height:60% !important;
}

.desc-free img{
  display: inline-block;
}