<% set_meta_tags title: "#{@dungeon}解説",description:"シレン2 タイムアタック番付サイトの#{@dungeon}解説ページです！", og: { title: "#{@dungeon}解説",description:"シレン2 タイムアタック番付サイトの#{@dungeon}解説ページです！"} %>

<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-header <%= @duncolor %> text-center">
                    <h3 class="card-title float-left text-white">
                        <%= @dungeon %>解説
                    </h3>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <h3>Coming Soon...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>