<% content_for :title do %>
TA解説
<% end %>

<div class="container">
    <h2>最果てへの道99FTA 初心者講座</h2>
    <p>第1章 <a href="/ta/saihate/chapter1">最果て99FTAとは</a></p>
    <p>第2章 <a href="/ta/saihate/chapter2">レベリングについて</a></p>
    <p>第3章 <a href="/ta/saihate/chapter3"></a></p>
</div>